@layer layout {
  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  .wrapper {
    --wrapper-padding-x: var(--padding-x-xl);

    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-inline: var( --wrapper-padding-x);
    padding-bottom: var(--spacer-xl);
    width: min(100%, var(--width-wrapper));

    @media (--tablet-l) {
      --wrapper-padding-x: 80px;
      box-shadow:
        inset 1px 0 0 var(--color-border-dark),
        inset -1px 0 0 var(--color-border-dark);
    }
  }

  .wrapper,
  .prose,
  .container {
    margin-inline: auto;
    position: relative;
  }

  .container {
    --container-max-width: var(--width-container);
    padding-inline: var(--padding-x-xl);
    width: min(100%, var(--container-max-width));
  }

  .col-2\/3 {
    width: min(100%,  692px);
  }

  .col-5\/6 {
    width: min(100%,  776px);
  }

  .prose {
    font-variant-numeric: oldstyle-nums;
    width: min(100%, var(--width-prose));

    &:not(.container .prose) {
      padding-inline: var(--padding-x-xl);
    }
  }

  main {
    flex-grow: 1;
  }

  .main {
    padding-bottom: var(--spacer-xl);
    max-width: 100%;

    &:not(:has(> .hero)) {
      padding-top: var(--spacer-xl);
    }

    @media (--tablet) {
      /* Make room for navbar */
      padding-inline-start: var(--sidenav-area, 0);
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: SECTIONS                                                        */
  /* ------------------------------------------------------------------------ */

  .section {
    --section-bg: transparent;
    --section-color: var(--color-text-02);
    --section-margin-top: 0;
    --section-padding-y: var(--spacer-xl);
    --section-title-color: var(--color-tex);
    --section-title-margin-y: 0 var(--size-2);

    background: var(--section-bg);
    color: var(--section-color);
    margin-top: var(--section-margin-top);
    padding-block: var(--section-padding-y);
  }

  @scope (.section) {
    h2 {
      color: var(--section-title-color, var(--color-text));
      margin-block: var(--section-title-margin-y);
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: HORIZONTALLY SCROLLABLE CONTAINER                               */
  /* ------------------------------------------------------------------------ */

  .scroll-x {
    --scroll-x-border: 1px solid var(--color-border);
    --scroll-x-radius: var(--radius-sm);
    --scroll-padding: 0;

    border: var(--scroll-x-border);
    border-radius: var(--scroll-x-radius);
    padding: var(--scroll-padding);
    overflow: auto hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }

    @media (hover: none) {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: LIST-VIEW                                                       */
  /* ------------------------------------------------------------------------ */

  .list-view {
    display: flex;
    flex-direction: column;
    gap: var(--list-view-gap, var(--size-2));
    list-style: none;
    margin: var(--list-view-margin, 0);
    padding: var(--list-view-padding, 0);
  }

  @scope (.list-view) {
    & > li {
      margin: 0;
      padding: 0;

      &::before {
        content: '';
      }
    }
  }

  /* #endregion */
}
