@layer components.custom {
  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  .footer {
    background-color: var(--color-bg);

    @media (--tablet-l) {
      box-shadow:
        inset -1px 0 0 var(--color-border-dark),
        inset 1px 0 0 var(--color-border-dark);
      margin-inline: auto;
      width: min(100%, var(--width-wrapper));
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: FOOTER - JUST CHILDREN                                          */
  /* ------------------------------------------------------------------------ */

  @layer components.custom {
    @scope (.footer) {
      .container {
        border-top: 1px solid var(--color-border-min);
        padding-block: var(--size-4);
      }

      .layout {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--size-3);
        justify-content: space-between;

        @media (--tablet-l) {
          flex-direction: row;
        }
      }

      .copy,
      nav a {
        @mixin text-format fine-print;
      }

      .copy {
        color: var(--color-text-02);
        margin-bottom: 0;
      }

      nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--size-1h);

        @media (--tablet) {
          flex-direction: row;
        }
      }
    }
  }

  /* #endregion */
}
