@layer components.custom {
  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  .topnav {
    --banner-font-size: var(--font-size-h2);
    --banner-gap: var(--size-2);
    --banner-height: 80px;
    --banner-light-position: circle 120px at 10% 14%;
    --banner-logomark: 32px;
    --banner-start-bg: calc(50% - 132px) 0;

    background: color-mix(in oklch, var(--color-bg-02) 90%, var(--color-bg));

    @media (--tablet) {
      --banner-font-size: var(--font-size-title);
      --banner-gap: var(--size-3);
      --banner-height: 120px;
      --banner-logomark: 60px;
      --banner-start-bg: 0 0;
    }

    @media (--tablet-l) {
      box-shadow:
        inset -1px 0 0 var(--color-border-dark),
        inset 1px 0 0 var(--color-border-dark);
      margin-inline: auto;
      width: min(100%, var(--width-wrapper));
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: CHILDREN                                                        */
  /* ------------------------------------------------------------------------ */

  @scope (.topnav) {
    /* #region: Main Nav */
    .banner {
      background-image:
        url('/assets/img/components/topnav/banner-end.svg'),
        url('/assets/img/components/topnav/banner-start.svg'),
        radial-gradient(
          var(--banner-light-position),
          #fff,
          rgb(255 255 255 / 0.95) 2%,
          rgb(255 255 255 / 0.8) 10%,
          rgb(255 255 255 / 0.6) 21%,
          rgb(255 255 255 / 0.39) 36%,
          rgb(255 255 255 / 0.2) 54%,
          rgb(255 255 255 / 0.05) 76%,
          rgb(255 255 255 / 0)
        ),
        linear-gradient(
          hsl(var(--h) var(--s) 69% / 0.33),
          hsl(var(--h) var(--s) 69% / 0.33)
        ),
        linear-gradient(
          var(--color-brand),
          var(--color-brand)
        ),
        image-set(
          url('/assets/img/components/topnav/banner-base.jpg') 1x,
          url('/assets/img/components/topnav/banner-base@2x.jpg') 2x
        );

      background-color: hsl(var(--h) var(--s) 73%);

      background-blend-mode:
        normal,
        normal,
        normal,
        normal,
        color,
        normal;
      background-position:
        calc(50% + 365px) 0,
        var(--banner-start-bg),
        0 0, 0 0, 0 0, 0 0;
      background-repeat: no-repeat;
      background-size:
        auto,
        auto,
        auto,
        auto,
        auto,
        cover;
      display: flex;
      align-items: center;
      gap: var(--banner-gap);
      justify-content: center;
      width: 100%;
      height: var(--banner-height);

      @media (--tablet-l) {
        box-shadow:
          inset -1px 0 0 var(--color-border-dark),
          inset 1px 0 0 var(--color-border-dark);
      }
    }

    .logomark {
      width: var(--banner-logomark);
      height: var(--banner-logomark);
    }

    .brand-name {
      color: hsl(var(--h) var(--s) 56%);
      font-size: var(--banner-font-size);
      font-weight: var(--font-weight-title);
      letter-spacing: var(--letter-spacing-title);
      line-height: 1;
    }

    /* #endregion */

    /* #region: Main Nav */
    nav {
      display: flex;
      align-items: center;
      gap: var(--size-4);
      height: var(--header-height);
    }

    .links {
      display: flex;
      align-items: center;
      gap: var(--size-3);
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      @media (--phone-l) {
        justify-content: center;
      }
    }

    .links > li {
      margin: 0;
      padding: 0;

      &:first-child {
        margin-inline-end: auto;
      }

      &:first-child .icon {
        translate: 0 -1px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        display: none;
      }

      @media (--phone-l) {
        &:first-child {
          margin-inline-end: 0;
        }
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
      }
    }

    .link {
      color: var(--color-text-02);
      display: block;
      font-size: var(--font-size-body-sm);
      font-weight: 400;
      line-height: var(--line-height-body-sm);
      text-decoration: none;
      text-transform: lowercase;
      transition: color var(--duration-100) var(--easing-base);

      &[aria-current='page'] {
        color: var(--color-text);
        pointer-events: none;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--color-text);
        }
      }
    }

    /* #endregion */
  }

  /* #endregion */
}
