---
import BaseLayout from '../../layouts/base.astro';
---

<BaseLayout
  title='Dev'
  description='Development pages'
  lang='en'
>
  <main>
    <h1>Dev</h1>
    <ul>
      <li>
        <a href='/playground/home/'>Home prototype</a>
      </li>
    </ul>
  </main>
</BaseLayout>
