# -------------------------------
# Working stuff
# -------------------------------

*.tmp
*~.*
.obsidian/
.vault-nickname
docs/notes/

# -------------------------------
# Build / runtime
# -------------------------------
.cache/
.eslintcache
.tmp/
.vitepress/cache/
dist/

# -------------------------------
# Generated types
# -------------------------------
.astro/

# -------------------------------
# Package managers
# -------------------------------
*.tgz
.pnp.*
.pnpm-store/
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------------
# Environment variables
# -------------------------------
.env
.env.*
!.env.example

# -------------------------------
# Logs / backups
# -------------------------------
*.bak
*.log
*.swp
.stylelintcache
backup/
logs/

# -------------------------------
# Editors / IDE
# -------------------------------
*.njsproj
*.ntvs*
*.sln
*.suo
.idea/
.settings/
.vscode/

# -------------------------------
# Test artifacts
# -------------------------------
output/
playwright-report/
test-results/
blob-report/
coverage/
.nyc_output/

# -------------------------------
# OS / system files
# -------------------------------
$RECYCLE.BIN/
.DS_Store
._*
Desktop.ini
Thumbs.db
ehthumbs.db

# macOS
.DocumentRevisions-V100
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fseventsd
