// $font-face-primary: '/path/to/font-without-extension';

// @font-face {
//   font-family: 'Font Name';
//   font-style: normal;
//   font-weight: 400;
//   // woff2 and woff are enough
//   src:
//     url('#{$font-face-primary}.woff2') format('woff2'),
//     url('#{$font-face-primary}.woff') format('woff');
// }

// -----------------------------------------------------------------------------
// DOCUMENT
// -----------------------------------------------------------------------------

body {
  background-color: $color-background-normal;
  color: color-ink(normal);

  // Use flex to distribute blocks across the entire height of the screen
  // setting central area flex-growth to 1.
  // display: flex;
  // flex-direction: column;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  text-align: left;
  scroll-behavior: smooth;
  min-height: 100%;

  @if $debug {
    background: transparent url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2224%22%20viewBox%3D%220%200%208%2024%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Crect%20width%3D%228%22%20height%3D%221%22%20y%3D%2223%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.24%22%2F%3E%3Crect%20width%3D%228%22%20height%3D%221%22%20y%3D%2215%22%20fill%3D%22%23F0F%22%20fill-opacity%3D%22.12%22%2F%3E%3Crect%20width%3D%228%22%20height%3D%221%22%20y%3D%227%22%20fill%3D%22%23F0F%22%20fill-opacity%3D%22.12%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') repeat;
  }
}

// -----------------------------------------------------------------------------
// BODY COPY
// -----------------------------------------------------------------------------

// LINKS

a {
  color: color-ink(link);
  text-decoration: none;
  transition: color $duration-xs $easing;

  &:hover {
    color: color-ink(link)-hover;
    text-decoration: underline;
  }
}

// BLOCKS

address,
blockquote,
dl,
figure,
iframe,
ol,
p,
pre,
ul {
  margin-top: 0;
  margin-bottom: var(--size-line);
}

.has-vr-offset,
%has-vr-offset {
  margin-top: var(--type-body-copy-vr-offset);
}

address,
blockquote,
dl,
ol,
p,
pre,
ul {
  h1 + &,
  h2 + &,
  &:first-child:not([class]) {
    @extend %has-vr-offset;
  }
}

.lead {
  font-size: $font-size-big;
  line-height: $line-height-big;
}

// QUOTES

:lang(ru) {
  blockquote::before,
  q::before {
    content: '«';
  }

  blockquote::after,
  q::after {
    content: '»';
  }
}

:lang(en) {
  blockquote::before,
  q::before {
    content: '“';
  }

  blockquote::after,
  q::after {
    content: '”';
  }
}

.blockquote {
  > :last-child {
    margin-bottom: 0;
  }

  footer {
    color: color-ink(muted, accent);

    &::before {
      content: '\2014\00A0'; // em dash, nbsp
    }
  }
}

// LISTS

ul {
  list-style-image: $list-bullet;
  padding-left: $size-2;

  @include media-breakpoint-up(md) {
    padding-left: 0;
  }
}

li:not(:last-child),
.list-caption {
  margin-bottom: $size-1;
}

// .list-caption may be a span
.list-caption {
  display: block;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: var(--size-1);
  margin-bottom: 0;
  padding-left: var(--size-2);
}

.list.is-unstyled,
nav ol,
nav ul {
  list-style: none;
  padding-left: 0;
}

.list.is-inline {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

dt {
  font-weight: 500;
}

dd {
  margin-left: 0;
}

// DIVIDERS

hr {
  border: 0;
  border-top: $border-width solid color-ink(border);
  margin-top: ($size-line * 3 - .1rem);
  margin-bottom: ($size-line * 3);
}


// -----------------------------------------------------------------------------
// HELPERS
// -----------------------------------------------------------------------------

.nobr {
  white-space: nowrap;
}

.note {
  color: color-ink(muted);
}

.sr-only,
%sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.text-hide,
%text-hide {
  background-color: $transparent;
  border: 0;
  color: $transparent;
  font: 0/0 a;
  text-shadow: none;
}
