// stylelint-disable selector-list-comma-newline-after

h1, .h1, %h1,
h2, .h2, %h2 {
  // OpenType kerning
  font-family: $font-family-accent;
  font-feature-settings: 'kern' 1, 'liga' 1;

  @include media-breakpoint-up(mdl) {
    letter-spacing: -.1rem;
  }
}

// H1 and hero titles
h1, .h1, %h1 {
  color: $color-ink-title;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
  margin: 0;
  padding-top: var(--padding-top-h1);
  padding-bottom: var(--padding-bottom-h1);

  // With eyebrow
  header > & {
    margin-top: var(--margin-top-h1-has-eyebrow);
  }
}

// Heading 2
// Heading 2
h2, .h2, %h2 {
  color: $color-ink-title;
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2);
  margin: 0;
  padding-top: var(--padding-top-h2);
  padding-bottom: var(--padding-bottom-h2);

  &:not(:first-child):not([class]) {
    margin-top: var(--margin-top-subhead);
  }
}

h3, h4, h5, h6 {
  font-size: 100%;
  margin-top: ($size-line * 2);
  margin-bottom: $size-line;

  &:first-child {
    margin-top: 0;
  }
}

h4 {
  color: $crimson;
}

h3 + h4 {
  margin-top: $size-line;
}

h1, h2, h3, h4, h5, h6 {
  &:last-child {
    margin-bottom: 0;
  }
}
