.hero {
  --magic-position: center bottom -14rem;
  // --ham-position: left bottom;

  background-color: $color-primary;
  background-image:
    url('/img/components/hero/bottom-magic-sparks.svg'),
    // url('/img/components/hero/ham.png'),
    url('/img/components/hero/bottom-magic.svg'),
    radial-gradient(
      circle at 50% 20%,
      hsl(10 87% 99% / .60) 0%,
      hsl(10 87% 99% / .57) 1%,
      hsl(10 87% 99% / .48) 4%,
      hsl(10 87% 99% / .36) 9%,
      hsl(10 87% 99% / .24) 16%,
      hsl(10 87% 99% / .12) 25%,
      hsl(10 87% 99% / .03) 37%,
      hsl(10 87% 99% / 0) 50%
    );
  background-position:
    right -2.4rem top 2.4rem,
    var(--magic-position),
    50% 0;
  background-repeat: no-repeat;
  background-size:
    auto,
    cover,
    960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: -$size-2;
  margin-right: -$size-2;
  padding-top: $size-line * 3;
  padding-bottom: $size-line * 3;

  @include media-breakpoint-up(sm) {
    margin-bottom: $size-line;
    margin-left: -$size-3;
    margin-right: -$size-3;
  }

  @include media-breakpoint-up(md) {
    --magic-position: center bottom -22rem;

    padding-top: $size-line * 3;
    max-width: 954px;
    min-height: $size-line * 15;
    margin: 0 auto (-$size-5);

    &:not(.is-full-bleed) {
      border-radius: 2.4rem;

    }
  }
}

// EYEBROW
.hero__eyebrow {
  background: $color-bg-inverse;
  color: $color-ink-inverse-normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
  line-height: var(--line-height-size-small);
  margin-bottom: $size-line * 2;
  padding: 0;
  width: 100%;
  height: $size-8;

  @include media-breakpoint-up(md) {
    margin-bottom: $size-line * 3;
  }
}

// VALUE

.hero__display {
  color: $color-primary-dark;
  font-size: var(--font-size-hero-title);
  font-weight: var(--font-weight-hero-title);
  line-height: var(--line-height-hero-title);
  padding-top: var(--padding-top-hero-title);
  padding-bottom: var(--padding-bottom-hero-title);
}

.hero__title {
  color: $color-primary-dark;
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1);
  padding-top: var(--padding-top-h1);
  padding-bottom: var(--padding-bottom-h1);
}

.hero__subtitle {
  color: $color-ink-2ry;
  margin-right: auto;
  margin-left: auto;
  max-width: 63.2rem;
}

.hero .btn.is-link {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-opacity%3D%22.16%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8%2C0%20C12.418278%2C0%2016%2C3.581722%2016%2C8%20C16%2C12.418278%2012.418278%2C16%208%2C16%20C3.581722%2C16%200%2C12.418278%200%2C8%20C0%2C3.581722%203.581722%2C0%208%2C0%20Z%20M8%2C2%20C4.6862915%2C2%202%2C4.6862915%202%2C8%20C2%2C11.3137085%204.6862915%2C14%208%2C14%20C11.3137085%2C14%2014%2C11.3137085%2014%2C8%20C14%2C4.6862915%2011.3137085%2C2%208%2C2%20Z%20M6%2C4%20L12%2C8%20L6%2C12%20L6%2C4%20Z%22%2F%3E%3C%2Fsvg%3E%0A');
  background-position: $size-2 50%;
  background-repeat: no-repeat;
  // border: 1px solid $color-ink-accent-border;
  color: $color-ink-accent-3ry;
  padding: 1.6rem $size-2 1.5rem $size-5;
  transition: background-color $duration-sm;

  &:hover {
    background-color: $white-penult;
  }

  &:active {
    background-color: hsla(0, 0%, 100%, .08);
    border: 0;
    box-shadow: none;
  }
}
