.hero {
  --magic-position: center bottom -10rem;
  // --ham-position: left bottom;

  background-color: $color-primary;
  background-image:
    url('/img/components/hero/bottom-magic-sparks.svg'),
    // url('/img/components/hero/ham.png'),
    url('/img/components/hero/bottom-magic.svg');
  background-position:
    right -2.4rem top 2.4rem,
    // var(--ham-position),
    var(--magic-position);
  background-repeat: no-repeat;
  background-size:
    auto,
    // auto,
    cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 44.6rem;

  @include media-breakpoint-up(md) {
    padding-top: 0;
    min-height: $size-line * 24;
    // min-height: $size-line * 26;
  }

  @include media-breakpoint-up(lg) {
    --magic-position: center bottom -22rem;
  }

  @include media-breakpoint-up(king-size) {
    --magic-position: center bottom -40rem;
  }
}

// EYEBROW
.hero__eyebrow {
  background: $color-background-inverse;
  color: color-ink(normal, inverse);
  font-size: $font-size-small;
  line-height: var(--size-2);
  margin-bottom: calc(var(--size-line) * 2);
  padding: calc(var(--size-2) + .3rem) var(--size-2) 0;
  width: 100%;
  height: $size-8;

  @include media-breakpoint-up(sm) {
    padding-top: calc(var(--size-line) + .3rem);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: calc(var(--size-line) * 2 + 1.2rem);
    // margin-bottom: calc(var(--size-line) * 3 + 1.2rem);
  }
}

// VALUE

.hero__title {
  color: $color-primary-dark;
}

.hero__subtitle {
  color: color-ink(muted);
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 63.2rem;
  @include media-breakpoint-up(lg) {
    margin-top: 1rem;
  }
}

.hero .btn.is-link {
  color: color-ink(link, accent);
  background: rgba(0, 0, 0, 0) url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-opacity%3D%22.5%22%20fill-rule%3D%22evenodd%22%20d%3D%22M8%2C0%20C12.418278%2C0%2016%2C3.581722%2016%2C8%20C16%2C12.418278%2012.418278%2C16%208%2C16%20C3.581722%2C16%200%2C12.418278%200%2C8%20C0%2C3.581722%203.581722%2C0%208%2C0%20Z%20M8%2C2%20C4.6862915%2C2%202%2C4.6862915%202%2C8%20C2%2C11.3137085%204.6862915%2C14%208%2C14%20C11.3137085%2C14%2014%2C11.3137085%2014%2C8%20C14%2C4.6862915%2011.3137085%2C2%208%2C2%20Z%20M6%2C4%20L12%2C8%20L6%2C12%20L6%2C4%20Z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
  padding-left: $size-line;
}
