@use 'sass:math';

// -----------------------------------------------------------------------------
// NEED SECTION
// -----------------------------------------------------------------------------
// #region

.section.is-need > .section__body {
  @include media-breakpoint-down(lg) {
    padding-top: 0;
  }
}

// #endregion

// -----------------------------------------------------------------------------
// PRODUCT SECTION
// -----------------------------------------------------------------------------
// #region
.section__header.is-magic {
  @extend %grid;

  align-items: center;
}

.section__header.is-magic .border {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    grid-column: 2 / span 3;
    max-width: 23.2rem;
  }

  @include media-breakpoint-up(lg) {
    grid-column: 4 / span 3;
  }
}

.section__header.is-magic .section__header-content {
  grid-column: 1 / span 4;

  @include media-breakpoint-up(sm) {
    grid-column: 1 / span 8;
  }

  @include media-breakpoint-up(md) {
    grid-column: 5 / span 3;
  }

  @include media-breakpoint-up(lg) {
    grid-column: 7 / span 3;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// FEATURES
// -----------------------------------------------------------------------------
// #region

.grid.is-features {
  margin-bottom: .9rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 1.7rem + ($size-line * 3);
  }
}

// Cell
.feature {
  grid-column: span 4;
}

// Icons in the colored boxes

.feature > figure {
  background-color: $red-soft;
  border-radius: $border-radius-lg;
  box-shadow: $box-shadow-z3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size-6;
  height: $size-6;

  > .icon {
    fill: $color-ink-inverse-normal;
  }
}

.feature:nth-child(1),
.feature:nth-child(3) {
  @include media-breakpoint-up(lg) {
    grid-column: 3 / span 4;
  }
}

// stylelint-disable rule-empty-line-before
// .feature:nth-child(1) > figure { background-color: $red-soft; }
// .feature:nth-child(2) > figure { background-color: $orange; }
// .feature:nth-child(3) > figure { background-color: $yellow; }
// .feature:nth-child(4) > figure { background-color: $green; }
// .feature:nth-child(5) > figure { background-color: $cyan; }
// .feature:nth-child(6) > figure { background-color: lighten($blue, 10%); }


// Content

.feature > h3 {
  margin-bottom: -$size-2;
}

.feature > p {
  margin-bottom: $size-line + $size-1;

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}
// #endregion

// -----------------------------------------------------------------------------
// LOGOS
// -----------------------------------------------------------------------------
// #region

.logos {
  text-align: center;
  margin: -1.6rem auto 0;
  padding-bottom: $size-line + 1.8rem;

  > figcaption {
    padding-top: $size-2;
  }
}

.logos__title {
  margin: 0;
  padding-top: $size-line;
}

// #endregion

// -----------------------------------------------------------------------------
// MAILCHIMP
// -----------------------------------------------------------------------------
// #region
.section.is-early-access {
  text-align: center;
  padding-right: $size-2;
  padding-left: $size-2;
}

.section.is-early-access .section__title,
.section.is-early-access .section__subtitle {
  @include media-breakpoint-up(lg) {
    margin-right: auto;
    margin-left: auto;
    max-width: percentage(math.div(632, 952));
  }
}

.section.is-early-access .form__control {
  text-align: center;
  grid-column: 1 / span 4;

  @include media-breakpoint-up(sm) {
    text-align: left;
    grid-column: 2 / span 4;
  }

  @include media-breakpoint-up(lg) {
    grid-column: 4 / span 4;
  }
}

.section.is-early-access .btn.is-primary {
  grid-column: 2 / span 2;

  @include media-breakpoint-up(sm) {
    grid-column: 6 / span 2;
  }

  @include media-breakpoint-up(lg) {
    grid-column: 8 / span 2;
  }
}
// #endregion
