//- SETTINGS -------------------------------------------------------------------

extends /pages/base/base.pug

//- CONTENT --------------------------------------------------------------------

block content
  h1 Lorem ipsum dolor sit.
