@use 'sass:math';

.alert {
  background-color: $color-warning-bg;
  border-radius: $border-radius-sm;
  box-shadow:
    inset 0 0 0 1px $color-ink-accent-border,
    $box-shadow-z1;
  color: $color-ink-accent-normal;
  font-family: $font-family-accent;
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin-bottom: $size-line;
  padding: var(--padding-x-box);
  position: relative;
}

// BIG GLOBAL ALERTS

.alert.is-global {
  border-radius: 0;
  box-shadow:
    inset 0 -1px 0 $color-ink-accent-border,
    $box-shadow-z1;
  text-align: center;
  margin-bottom: 0;
  padding: $size-line var(--padding-x-box);

  > p {
    text-align: left;
    margin: 0 auto;
    padding-left: $size-6;
    position: relative;
    min-height: 4.8rem;
    // Max width is 7 global columns on desktops
    max-width: round(math.div(map-get($container-max-widths, 'lg'), 7) * 12);
  }

  // Big Icons
  > p .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2.8rem;
    height: 2.8rem;
  }
}

// SEMANTIC BACKGROUNDS

// H5BP .browserupgrade, noscript etc
.is-waring,
%alert-waring {
  background: $color-warning-bg;
}

.alert.is-warning .icon__body {
  fill: $color-warning;
}

.alert.is-warning .icon__details {
  fill: $color-ink-accent-2ry;
}

.is-danger,
%alert-danger {
  background: $color-error-bg;
}


// DISMISSIBLE ALERTS

// .is-dismissible {
//   padding-right: $size-4; // 32px

//   // Adjust close link position
//   .btn.is-close {
//     position: absolute;
//     top: $size-1;
//     right: $size-1;
//   }
// }
