-
  var app = {
    lang: 'ru', //- Electron method is app.getLocale()
    title: 'Magic Notebook',
    desc: 'Приложение — литературный помощник. Специально для блогеров, маркетологов и копираитеров',
    //- desc: 'The writing assistant app. Especially for bloggers, marketers and copywriters',
    link: 'https://app.magic-nb.ru/',
    img: '/img/screens/main/magic-notebook.png',
    icon: {
      lg: '/img/base/graphics/icon.png',
      svg: '/img/base/graphics/icon.svg'
    },
    color: '#f5826b',
    fonts: '',
    css: '/css/style.css',
    store: '',
    googleVerification: ''
  }

-
  var site = {
    facebookAdmins: '506386402'
  }
