// -----------------------------------------------------------------------------
// HEADERS
// -----------------------------------------------------------------------------

// 🤷🏻‍♂️

// -----------------------------------------------------------------------------
// BODY
// -----------------------------------------------------------------------------

// Dev styles
// .section {
//   background: #ffc;
// }

// .section__body {
//   background: #fcf;
// }

// Vertical paddings to adjust the vertical rhythm are set on the first and
// last child of the .section.
// of the lower paddings.
// .section h2:first-child { padding-top: 1.6rem }
// .section p:last-child { margin-bottom: 0; padding-bottom: .6rem }

.section__body {
  margin-right: auto;
  margin-left: auto;
  padding-top: $size-line;
  padding-bottom: $size-line;
  max-width: 63.2rem;

  @include media-breakpoint-up(md) {
    padding-top: ($size-line * 2);
    padding-bottom: ($size-line * 2);
  }
}

.section__body.has-top-text {
  padding-top: $size-line + .3rem;

  @include media-breakpoint-up(md) {
    padding-top: ($size-line * 2) + .3rem;
  }
}

.section__body.has-top-text.is-compact {
  @include media-breakpoint-up(md) {
    padding-top: $size-line;
  }
}

.section__body.has-bottom-text {
  padding-bottom: 1.8rem;

  @include media-breakpoint-up(md) {
    padding-bottom: $size-line + 1.8rem;
  }
}
// #endregion


// -----------------------------------------------------------------------------
// FULL BLEED
// -----------------------------------------------------------------------------

// MARKUP
// .section.is-full-bleed
//   .container
//     Content...

// figure.feature.is-full-bleed
//   img(src='https://source.unsplash.com/e_DmszdpETY/1200x600',
//     srcset='https://source.unsplash.com/e_DmszdpETY/2400x1200 2400w,\
//     https://source.unsplash.com/e_DmszdpETY/1200x600 1200w,\
//     https://source.unsplash.com/e_DmszdpETY/600x300 600w',\
//     sizes='100vw', alt='low-angle photography of trees')
//   figcaption Photo by Jonathan Borba on Unsplash

.is-full-bleed {
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}
