@layer components.ui {
  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  .accordion {
    --accordion-bg: var(--color-bg-02);
    --accordion-border-color: var(--color-border);
    --accordion-marker-bg: var(--color-border);
    --accordion-marker-offset: 6px;
    --accordion-marker-size: var(--size-3);
    --accordion-marker-stroke: var(--color-icon);
    --accordion-radius: var(--radius-md);
    --accordion-summary-color: var(--color-text);
    --accordion-summary-color-active: var(--color-text-02);
    --accordion-summary-padding-x-end: var(--size-5);

    background-color: var(--accordion-bg);
    border-radius: var(--accordion-radius);
    display: block;
    padding: var(--size-1h) var(--size-2h) var(--size-2);
    overflow: hidden;

    @media (--tablet) {
      --accordion-marker-offset: var(--size-1h);

      padding-inline: var(--size-4);
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: CHILDREN                                                        */
  /* ------------------------------------------------------------------------ */

  @scope (.accordion) {
    /* #region: Header / Trigger */
    summary {
      color: var(--accordion-summary-color);
      cursor: pointer;
      display: block;
      font-weight: 500;
      padding-inline-end: var(--accordion-summary-padding-x-end);
      position: relative;
      transition: color var(--duration-50) var(--easing-base);
      width: 100%;

      &::-webkit-details-marker {
        display: none;
      }

      &:focus-visible {
        @mixin state-focus;
      }

      @media (any-hover: hover) {
        &:hover {
          color: var(--accordion-summary-color-active);
        }
      }
    }

    summary :is(h2, h3) {
      margin-bottom: 0;
    }

    .marker {
      background: var(--accordion-marker-bg);
      border-radius: var(--radius-pill);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: var(--accordion-marker-offset);
      inset-inline-end: 0;
      transition: rotate var(--duration-50) var(--easing-base);
      width: var(--accordion-marker-size);
      height: var(--accordion-marker-size);
    }

    .marker .icon {
      --icon-stroke: var(--accordion-marker-stroke);
    }

    /* #endregion */

    /* #region: Body */

    &::details-content {
      color: var(--color-text-02);
      transition:
        content-visibility var(--duration-200) var(--easing-base),
        height var(--duration-200) var(--easing-base);
      transition-behavior: allow-discrete;
      height: 0;
    }

    .body {
      padding-top: var(--size-1);
    }

    .body :is(h3, .h3) {
      color: var(--color-text);
      font-size: var(--font-size-base);
      font-weight: 500;
      letter-spacing: var(--letter-spacing-base, 0);
      line-height: var(--line-height-base);
    }

    li {
      margin-bottom: 0;
    }

    /* #endregion */
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: OPEN STATE                                                      */
  /* ------------------------------------------------------------------------ */

  @scope (.accordion[open]) {
    .marker {
      rotate: 180deg;
    }

    &::details-content {
      height: auto;
    }
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: FLOW                                                            */
  /* ------------------------------------------------------------------------ */

  .accordion + :not(.accordion) {
    margin-top: var(--flow-gap);

    @media (--tablet) {
      margin-top: calc(var(--flow-gap) * 2);
    }
  }

  /* #endregion */
}
