@layer components.ui {
  /* ------------------------------------------------------------------------ */
  /* #region: BASE                                                            */
  /* ------------------------------------------------------------------------ */

  /*
   * <details class="popover [popover-end] [popover-up]" data-role="popover">
   *   <summary>…</summary>
   *   <div class="body">
   *     h3.heading, ul.menu, whatever
   *   </div>
   * </details>
   */

  .popover {
    --popover-background: var(--color-bg);
    --popover-radius: var(--radius-md);
    --popover-shadow: var(--shadow-z2);
    --popover-color: var(--color-text-02);

    --popover-padding-y: var(--size-2);
    --popover-padding-x: var(--padding-x-md, var(--size-2));

    --popover-offset: var(--size-1);
    --popover-x-end: auto;
    --popover-x-start: 0;

    --popover-width: var(--width-sm);
    --popover-max-width: calc(100vw - var(--size-2h) * 2);

    position: relative;
    width: fit-content;
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: CHILDREN                                                        */
  /* ------------------------------------------------------------------------ */

  @scope (.popover) {
    /* #region: SUMMARY / TRIGGER */

    summary,
    [data-role='popover-summary'] {
      cursor: pointer;
    }

    /* Chevron created with a pseudo-element */
    :scope.popover-chevron :where(summary, [data-role='popover-summary']) {
      display: flex;
      align-items: center;
    }

    :scope.popover-chevron :where(summary, [data-role='popover-summary'])::after {
      background-image: var(--icon-chevron-down);
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      flex-shrink: 0;
      margin-inline-start: var(--size-half);
      transition: rotate var(--duration-50) var(--easing-base);
      width: var(--size-2);
      height: var(--size-2);
    }

    :scope.popover-chevron:is([open], .is-open)
      :where(summary, [data-role='popover-summary'])::after {
      rotate: 180deg;
    }

    /* #endregion */

    /* #region: BODY */

    :scope::details-content {
      transition: content-visibility var(--duration-100) var(--easing-base);
      transition-behavior: allow-discrete;
    }

    .body {
      --popover-translate-x: 0;
      --popover-translate-y: calc(var(--popover-offset) * -1);

      background-color: var(--popover-background);
      border-radius: var(--popover-radius);
      box-shadow: var(--popover-shadow);
      color: var(--popover-color);
      display: flex;
      flex-direction: column;
      text-align: start;

      margin: 0;
      padding-block: var(--popover-padding-y);
      padding-inline: var(--popover-padding-x);
      opacity: 0;
      pointer-events: none;

      position: absolute;
      inset-inline:
        var(--popover-x-start)
        var(--popover-x-end);

      transform:
        translateX(var(--popover-translate-x))
        translateY(var(--popover-translate-y));
      transition:
        opacity var(--duration-100) var(--easing-out),
        transform var(--duration-100) var(--easing-out);

      width: var(--popover-width);
      max-width: var(--popover-max-width);
      z-index: var(--z-popover);
    }

    .body:has(> .menu),
    .body.has-menu {
      padding: 0;
    }

    /* Open State */
    :scope:is([open], .is-open) > .body {
      opacity: 1;
      pointer-events: auto;
      transform:
        translateX(var(--popover-translate-x))
        translateY(0);
      transition:
        opacity var(--duration-100) var(--easing-base),
        transform var(--duration-100) var(--easing-base);
    }

    @starting-style {
      :scope:is([open], .is-open) > .body {
        opacity: 0;
        transform:
          translateX(var(--popover-translate-x))
          translateY(var(--popover-translate-y));
      }
    }

    /* #endregion */
  }

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: MODIFIERS                                                       */
  /* ------------------------------------------------------------------------ */

  /* Panel opens upward */
  @scope (.popover-up) {
    .body {
      --popover-translate-y: var(--popover-offset);

      inset-block-end: 100%;
    }
  }

  /* Panel is aligned to the right (LTR) edge of the trigger */
  .popover-end {
    @media (--phone-l) {
      --popover-x-end: 0;
      --popover-x-start: auto;
    }
  }

  /* Panel is horizontally centered relative to the trigger… */
  .popover-center {
    --popover-x-end: auto;
    --popover-x-start: 50%;
  }

  @scope (.popover-center) {
    .body {
      --popover-translate-x: -50%;
    }
  }

  /* …on mobile only */
  @media (--phone) {
    .phone\:popover-center {
      --popover-x-end: auto;
      --popover-x-start: 50%;
    }
  }

  /* #region: Panel is vertically centered relative to the trigger */
  @scope (.popover-middle) {
    .body {
      inset-block: 50% auto;
      transform:
        translateX(var(--popover-translate-x))
        translateY(calc(-50% + var(--popover-offset)));
    }

    :scope:is([open], .is-open) > .body {
      transform:
        translateX(var(--popover-translate-x))
        translateY(-50%);
    }

    @starting-style {
      :scope:is([open], .is-open) > .body {
        transform:
          translateX(var(--popover-translate-x))
          translateY(calc(-50% + var(--popover-offset)));
      }
    }
  }

  @scope (.popover-middle.popover-end) {
    .body {
      inset-block: 50% auto;
      inset-inline: auto 100%;
      transform:
        translateX(calc(var(--popover-offset) * -1))
        translateY(calc(-50% + var(--popover-offset)));
    }

    :scope:is([open], .is-open) > .body {
      transform:
        translateX(calc(var(--popover-offset) * -1))
        translateY(-50%);
    }

    @starting-style {
      :scope:is([open], .is-open) > .body {
        transform:
          translateX(calc(var(--popover-offset) * -1))
          translateY(calc(-50% + var(--popover-offset)));
      }
    }
  }

  /* #endregion */

  /* #endregion */

  /* ------------------------------------------------------------------------ */
  /* #region: ANCHOR POSITIONING                                              */
  /* ------------------------------------------------------------------------ */

  @scope (.popover) {
    @supports (anchor-name: --a) and (position-anchor: --a) {
      summary,
      [data-role='popover-summary'] {
        anchor-name: --popover-anchor;
      }

      /* Default - Panel opens downward */
      .body {
        position-anchor: --popover-anchor;
        inset-area: bottom start;
      }

      /* Panel opens upward */
      :scope.popover-up > .body {
        inset-area: top start;
      }

      /* Upward, right-aligned */
      :scope.popover-up.popover-end > .body {
        inset-area: top end;
      }

      /* Upward, center-aligned */
      :scope.popover-up.popover-center > .body {
        inset-area: top center;
      }

      /* Panel is vertically centered relative to the trigger */
      :scope.popover-middle > .body {
        inset-area: center start;
      }

      /* Vertically centered, right-aligned */
      :scope.popover-middle.popover-end > .body {
        inset-area: center end;
      }

      /* Vertically and horizontally centered */
      :scope.popover-middle.popover-center > .body {
        inset-area: center center;
      }

      /* Panel is aligned to the right (LTR) edge of the trigger */
      :scope.popover-end > .body {
        inset-area: bottom end;
      }

      /* Panel is horizontally centered relative to the trigger… */
      :scope.popover-center > .body {
        inset-area: bottom center;
      }

      /* …on mobile only */
      :scope.phone\:popover-center > .body {
        @media (--phone) {
          inset-area: bottom center;
        }
      }
    }
  }

  /* #endregion */
}
