@layer base {
  /* ------------------------------------------------------------------------ */
  /* #region: BASELINE COMPENSATION                                           */
  /* ------------------------------------------------------------------------ */

  :root {
    --padding-top-title: 0;
    --padding-bottom-title: 0;

    --padding-top-hero: var(--padding-top-title);
    --padding-bottom-hero: var(--padding-bottom-title);

    --padding-top-h2: 6px;
    --padding-bottom-h2: 2px;

    --padding-top-h3: 5px;
    --padding-bottom-h3: 3px;

    --padding-top-base: 6px;
    --padding-bottom-base: 2px;

    --padding-top-body-sm: 1px;
    --padding-bottom-body-sm: 3px;

    --padding-top-fine-print: 4px;
    --padding-bottom-fine-print: 4px;

    --padding-bottom-list: 16px;
    --padding-bottom-li: 10px;

    @media (--tablet) {
      --padding-top-title: 4px;
      --padding-bottom-title: 4px;

      --padding-top-h2: 1px;
      --padding-bottom-h2: 7px;

      --padding-top-h3: 7px;
      --padding-bottom-h3: 1px;
    }
  }

  /* #endregion */
}
