@use 'sass:list';

// -----------------------------------------------------------------------------
// GRID
// -----------------------------------------------------------------------------

// GRID-TEMPLATE-AREAS HELPER
// @param {List} $list - Width of areas in columns and their names.
// I.e. 3, 'first-quoter', 6, 'half', 4, 'last-quoter'
//    @example

//    // SCSS
//    .cards {
//      @extend %grid;
//      // other styles: i.e. margins

//      @media (min-width: 768px) {
//        grid-template-areas:
//          row((6, 'card1', 6, 'card2'))
//          row((6, 'card3', 6, 'card4'));
//      }
//    }

//    .card1 {
//      grid-area: card1;
//    }

//    // other cards

//    // CSS
//    .cards {
//      display: grid;
//      grid-column-gap: .8rem;
//      grid-template-columns: repeat(12, 1fr);
//      // other styles: i.e. margins

//      @media (min-width: 768px) {
//        grid-template-areas:
//          'card1 card1 card1 card1 card1 card1 card2 card2 card2 card2 card2 card2'
//          'card3 card3 card3 card3 card3 card3 card4 card4 card4 card4 card4 card4';
//      }
//    }

//    .card1 {
//      grid-area: card1;
//    }

//    // other cards


@function row($list) {
  $areas: '';

  // Iterate through list
  @for $i from 1 through list.length($list) {
    @if $i % 2 != 0 {
      $count: list.nth($list, $i);

      // Repeat the area name at $i+1 for $count number of times
      @for $j from 1 through $count {
        $areas: $areas + ' ' + list.nth($list, $i + 1);
      }
    }
  }
  @return $areas;
}
