/* stylelint-disable comment-empty-line-before, no-duplicate-selectors */
@layer base {
  :root {
    color-scheme: light dark;

    /* ---------------------------------------------------------------------- */
    /* #region: 🎨 COLORS                                                     */
    /* ---------------------------------------------------------------------- */

    /* Base hues for semantic colors */
    --h-blue: 210;
    --h-green: 110;
    --h-red: 350;
    --h-yellow: 60;
    --h-purple: 340;

    --s-02: 80%; /* Desaturate color by 4-10% for dark themes to maintain balance. */
    --s-03: 27%; /* Additional saturation level for dark theme backgrounds. */
    --s-min: 8%;

    --l-max: 99%;

    --h: 10;
    --s: 87%;
    --l: 69%;

    /* Shared */
    --color-brand: hsl(var(--h) var(--s) var(--l));

    --color-text-dark: rgb(0 0 0 / 0.87);

    --color-light-max: #fff;
    --color-text-light: hsl(0 0% 100% / 0.87);
    --color-text-02-light: hsl(0 0% 100% / 0.6);
    --color-text-03-light: hsl(0 0% 100% / 0.38);

    --color-link: var(--color-text-info);
    --color-link-hover: color-mix(in oklch, var(--color-link) 80%, #fff);
    --color-link-visited: color-mix(in oklch, var(--color-link) 85%, #000);

    --color-bg-alpha: color-mix(in oklab, var(--color-bg) 88%, transparent);

    --color-gradient-brand-crimson:
      hsl(10 87% 69%),
      hsl(4 81% 67%) 26%,
      hsl(359 74% 65%) 40%,
      hsl(353 68% 64%) 50%,
      hsl(348 62% 62%) 58%,
      hsl(342 55% 60%) 65%,
      hsl(336 48% 58%) 71%,
      hsl(330 42% 57%) 77%,
      hsl(325 36% 55%) 85%,
      hsl(319 29% 53%);

    --color-gradient-brand:
      linear-gradient(
        hsl(var(--h) var(--s) 71%),
        hsl(var(--h) var(--s) 67%)
      );

    /* Shadow base color */
    --color-shadow: var(--h) var(--s-min) 10%;
    --color-shadow-light: hsl(0 0% 100% / 0.03);

    /* Background gradient patch */
    --color-bg-patch:
      var(--color-bg), hsl(from var(--color-bg) h s l / 0.9) 16%,
      hsl(from var(--color-bg) h s l / 0.8) 32%, hsl(from var(--color-bg) h s l / 0.6) 48%,
      hsl(from var(--color-bg) h s l / 0.4) 56%, hsl(from var(--color-bg) h s l / 0.2) 72%,
      hsl(from var(--color-bg) h s l / 0.05) 80%, hsl(from var(--color-bg) h s l / 0);

    /* Scroll */
    --color-scroll-thumb: color-mix(in oklch, var(--color-text-03) 80%, transparent);
    --color-scroll-track: transparent;

    /* Backdrop filters */
    --backdrop-glass: blur(20px);
    --backdrop-blur-min: blur(8px);

    /* Visual adjustments */
    --filter-brightness-up: brightness(1.16);
    --filter-brightness-down: brightness(0.84);

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 🥁 RHYTHM & SPACING                                           */
    /* ---------------------------------------------------------------------- */

    /* stylelint-disable declaration-block-no-duplicate-custom-properties */
    --size-1: 8px;
    --size-half: calc(var(--size-1) * 0.5); /* 4px */
    --size-1h: calc(var(--size-1) * 1.5); /* 12px */
    --size-2: calc(var(--size-1) * 2); /* 16px */
    --size-2h: calc(var(--size-1) * 2.5); /* 20px */
    --size-3: calc(var(--size-1) * 3); /* 24px */
    --size-4: calc(var(--size-1) * 4); /* 32px */
    --size-5: calc(var(--size-1) * 5); /* 40px */
    --size-6: calc(var(--size-1) * 6); /* 48px */
    --size-7: calc(var(--size-1) * 7); /* 56px */
    --size-8: calc(var(--size-1) * 8); /* 64px */
    /* stylelint-enable declaration-block-no-duplicate-custom-properties */

    .icon { --icon-size: 24px; }
    .icon-sm { --icon-size: 16px; }

    /* Body copy line height */
    --flow-gap-sm: var(--size-2);
    --flow-gap: var(--size-3);

    --spacer: var(--flow-gap);

    /* Section vertical paddings or margins */
    --spacer-xl: calc(var(--flow-gap) * 3);

    --gap: var(--size-2h);
    --gap-lg: var(--size-4);

    @media (--tablet) {
      --spacer-xl: calc(var(--flow-gap) * 4);

      --gap: var(--flow-gap);
    }

    @media (--tablet-l) {
      --gap: var(--size-4);
    }

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 🔤 TYPOGRAPHY                                                 */
    /* ---------------------------------------------------------------------- */

    /* Font stacks */
    --font-family-emoji:
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-sans: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
    --font-family-mono:
      ui-monospace, SFMono-Regular, Monaco, Consolas, 'Andale Mono', monospace,
      var(--font-family-emoji);
    --font-family-base: var(--font-family-sans), var(--font-family-emoji);
    --font-family-titles: var(--font-family-base);

    --font-weight-base: 400;
    --font-weight-strong: 500;

    /* Scale factor: 1.25 (4/5; major third) */
    /* pxtorem will convert it */
    --font-size-title: 33px;
    --font-weight-title: var(--font-weight-strong);
    --letter-spacing-title:  -0.02em;
    --line-height-title: calc(40 / 33);

    --font-size-hero: var(--font-size-title);
    --font-weight-hero: var(--font-weight-strong);
    --letter-spacing-hero: var(--letter-spacing-title);
    --line-height-hero: var(--line-height-title);

    --font-size-h2: 27px;
    --font-weight-h2: var(--font-weight-strong);
    --letter-spacing-h2: -0.011em;
    --line-height-h2: calc(32 / 27);

    --font-size-h3: 21px;
    --font-weight-h3: var(--font-weight-strong);
    --letter-spacing-h3: 0.011em;
    --line-height-h3: calc(24 / 21);

    --font-size-base: 17px;
    --letter-spacing-base: 0;
    --line-height-base: calc(24 / 17);

    --font-size-body-sm: 14px;
    --font-weight-body-sm: 400;
    --letter-spacing-body-sm: 0;
    --line-height-body-sm: calc(20 / 14);

    --font-size-fine-print: 12px;
    --font-weight-fine-print: 400;
    --letter-spacing-fine-print: 0.013em;
    --line-height-fine-print: calc(16 / 12);

    /* Scale factor: 1.369 (custom) */
    @media (--tablet) {
      --font-size-title: 44px;
      --font-weight-title: 500;
      --line-height-title: calc(48 / 44);

      --font-size-h2: 32px;
      --font-weight-h2: 500;
      --letter-spacing-h2: -0.02em;
      --line-height-h2: calc(40 / 32);

      --font-size-h3: 24px;
      --line-height-h3: calc(32 / 24);
    }

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 🌀 SHAPE                                                      */
    /* ---------------------------------------------------------------------- */

    --radius-xs: var(--size-half);
    --radius-sm: var(--size-1);
    --radius-base: var(--size-1h);
    --radius-md: var(--size-2);
    --radius-lg: var(--size-3);
    --radius-xl: var(--size-4);
    --radius-pill: 100vmax;

    --border-width: 1px;

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 🏗️ ELEVATION                                                  */
    /* ---------------------------------------------------------------------- */

    --shadow-min: 0 1px 0 hsl(var(--color-shadow) / 0.12);

    --shadow-z1:
      0 0 0.5px 1px inset var(--color-shadow-light),
      0 0 0 1px hsl(var(--color-shadow) / var(--shadow-opacity-ring, 0.04)),
      0 1px 2px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06)),
      0 2px 4px -1px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06));
    --shadow-z2:
      0 0 0.5px 1px inset var(--color-shadow-light),
      0 0 0 1px hsl(var(--color-shadow) / var(--shadow-opacity-ring, 0.04)),
      0 2px 4px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06)),
      0 6px 12px -2px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06)),
      0 14px 28px -4px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06));
    --shadow-z3:
      0 0 0.5px 1px inset var(--color-shadow-light),
      0 0 0 1px hsl(var(--color-shadow) / var(--shadow-opacity-ring, 0.04)),
      0 3px 6px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06)),
      0 8px 16px -2px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06)),
      0 18px 36px -4px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06)),
      0 30px 60px -4px hsl(var(--color-shadow) / var(--shadow-opacity, 0.06));

    --z-sticky: 10;
    --z-fixed: 20;
    --z-fab: 30;
    --z-popover: 40;
    --z-tooltip: 50;
    --z-drawer: 70;
    --z-modal: 80;
    --z-notification: 80;

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 📐 LAYOUT DIMENSIONS                                          */
    /* ---------------------------------------------------------------------- */

    --width-xs: 200px;
    --width-sm: 288px;
    --width-base: 320px;
    --width-md: 448px;
    --width-lg: 544px;
    --width-xl: 720px;

    --width-container: 1176px;
    --width-prose: 70ch;

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 🏃‍♀️ MOTION                                                     */
    /* ---------------------------------------------------------------------- */

    --duration-50: 0.07s;
    --duration-100: 0.11s;
    --duration-200: 0.2s;
    --duration-300: 0.24s;
    --duration-400: 0.4s;
    --duration-500: 0.8s;
    --duration-600: 1.2s;

    --easing-base: cubic-bezier(
      0.2,
      0,
      0.38,
      0.9
    ); /* form of easing-in-out; apple-style: (0.4, 0, 0.25, 1) */
    --easing-out: cubic-bezier(0.2, 0, 1, 0.9); /* form of ease-in; slow start → acceleration */
    --easing-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: 🧩 COMPONENTS                                                 */
    /* ---------------------------------------------------------------------- */

    --button-height: var(--size-5);
    --button-padding-block: 0;
    --button-padding-inline: var(--size-2);

    --header-height: var(--size-6);

    --input-padding-block: 5px;
    --input-padding-inline: var(--size-2);

    --padding-x-md: var(--size-2);
    --padding-x-xl: var(--size-2h);

    --tooltip-background: hsl(var(--h) var(--h) 32% / 0.92);

    @media (--phone-l) {
      --padding-x-xl: var(--flow-gap);
    }

    @media (--tablet) {
      --sidenav-width: 96px;

      --padding-x-md: var(--flow-gap);
      --padding-x-xl: var(--size-5);
    }

    @media (--laptop) {
      --sidenav-width: 240px;
    }

    /* #endregion */

    /* ---------------------------------------------------------------------- */
    /* #region: ♥️ ICONS                                                      */
    /* ---------------------------------------------------------------------- */

    /* It’s recommended to create separate variable sets for light and dark themes,
  each using its own color palette to keep icons consistent across themes. */

    --icon-error: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21%2012C21%2016.9706%2016.9706%2021%2012%2021C7.02944%2021%203%2016.9706%203%2012C3%207.02944%207.02944%203%2012%203C16.9706%203%2021%207.02944%2021%2012Z%22%20fill%3D%22%23FDE2E7%22%2F%3E%3Cpath%20d%3D%22M12%2016.9V17M12%207V13M21%2012C21%2016.9706%2016.9706%2021%2012%2021C7.02944%2021%203%2016.9706%203%2012C3%207.02944%207.02944%203%2012%203C16.9706%203%2021%207.02944%2021%2012Z%22%20stroke%3D%22%23F2405E%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');
    --icon-success: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%2021C16.9706%2021%2021%2016.9706%2021%2012C21%207.02944%2016.9706%203%2012%203C7.02944%203%203%207.02944%203%2012C3%2016.9706%207.02944%2021%2012%2021Z%22%20fill%3D%22%23BBF9AE%22%2F%3E%3Cpath%20d%3D%22M9%2012L11%2014L15%2010%22%20fill%3D%22%23BBF9AE%22%2F%3E%3Cpath%20d%3D%22M9%2012L11%2014L15%2010M21%2012C21%2016.9706%2016.9706%2021%2012%2021C7.02944%2021%203%2016.9706%203%2012C3%207.02944%207.02944%203%2012%203C16.9706%203%2021%207.02944%2021%2012Z%22%20stroke%3D%22%2322990A%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E%0A');

    /* #endregion */
  }
}
